.cart-quantity > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgb(177,177,177);
    border-radius: 5px;
    width: 100px;
}

.cart-quantity > div > button {
    border: none;
    outline: none;
    background: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
}

.cart-table {
    border: none;
    border-bottom: 1px solid #dddddd;
    text-align: start;
}

.cart-btn-remove {
    background: #FF0000;
}

.cart-btn-clear {
    border: 2px solid #008CBA;
    background: none;
    color: #008CBA;
}

