.input-search {
    height: 26px;
    width: calc(25%);
    margin: 5px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    border-left: none;
    padding: 6px;
    margin: 0;
    transition: 0.2s ease-in-out;
}

.select-search {
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

.search-icon {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid black;
    cursor: default;
    background: #e6e6e6;
    font-weight: bold;
    color: black;
}